{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-3 mb-5">
        <h1>Login</h1>
        <form action="{{ path('app.login') }}" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input class="form-control" type="email" name="_username" id="username" placeholder="name@example.com" value="{{ lastUsername }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="_password" id="password">
            </div>
            <div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
