{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
            <p>Welcome to your new Silex application. This is the homepage.</p>
            <p>Read the <a href="http://silex.sensiolabs.org/doc/master/">documentation</a> to learn how to create your
                own website with Silex.</p>
        </div>
    </div>
{% endblock %}
